<div id="karta" class="container fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4"><h5>Corruption</h5></div>
                <div class="col-sm-4"><h5>Peril Track</h5></div>
                <div class="col-sm-4"><h5>Condition Track</h5></div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input  value="{{ variables.alignment_corruption is defined ? variables.alignment_corruption }}"  class="form-control"  id="alignment_corruption" name="alignment_corruption" placeholder="" type="number"  min="0" />
                </div>
                <div class="col-sm-4">
                    <select   class="form-control"  id="peril_condition_track" name="peril_condition_track">
                        <option value="UNHINDERED" {% if variables.peril_condition_track is defined and variables.peril_condition_track == "UNHINDERED"  %}selected="selected" {% endif %}  >UNHINDERED</option>
                        <option value="imperiled" {% if variables.peril_condition_track is defined and variables.peril_condition_track == "imperiled"  %}selected="selected" {% endif %}  >imperiled</option>
                        <option value="ignore 1 skill rank" {% if variables.peril_condition_track is defined and variables.peril_condition_track == "ignore 1 skill rank"  %}selected="selected" {% endif %}  >ignore 1 skill rank</option>
                        <option value="ignore 2 skill ranks" {% if variables.peril_condition_track is defined and variables.peril_condition_track == "ignore 2 skill ranks"  %}selected="selected" {% endif %}  >ignore 2 skill ranks</option>
                        <option value="ignore 3 skill ranks" {% if variables.peril_condition_track is defined and variables.peril_condition_track == "ignore 3 skill ranks"  %}selected="selected" {% endif %}  >ignore 3 skill ranks</option>
                        <option value="INCAPACITATED!" {% if variables.peril_condition_track is defined and variables.peril_condition_track == "INCAPACITATED!"  %}selected="selected" {% endif %}  >INCAPACITATED!</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select   class="form-control"  id="damage_condition_track" name="damage_condition_track">
                        <option value="unharmed" {% if variables.damage_condition_track is defined and variables.damage_condition_track == "unharmed"  %}selected="selected" {% endif %}  >unharmed</option>
                        <option value="light" {% if variables.damage_condition_track is defined and variables.damage_condition_track == "light"  %}selected="selected" {% endif %}  >light</option>
                        <option value="moderate" {% if variables.damage_condition_track is defined and variables.damage_condition_track == "moderate"  %}selected="selected" {% endif %}  >moderate</option>
                        <option value="serious" {% if variables.damage_condition_track is defined and variables.damage_condition_track == "serious"  %}selected="selected" {% endif %}  >serious</option>
                        <option value="grievous" {% if variables.damage_condition_track is defined and variables.damage_condition_track == "grievous"  %}selected="selected" {% endif %}  >grievous</option>
                        <option value="slain" {% if variables.damage_condition_track is defined and variables.damage_condition_track == "slain"  %}selected="selected" {% endif %}  >slain</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4"><h5>CG</h5></div>
                <div class="col-sm-4"><h5>SS</h5></div>
                <div class="col-sm-4"><h5>BP</h5></div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input  value="{{ variables.wealth_gc is defined ? variables.wealth_gc }}"  class="form-control"  id="wealth_gc" name="wealth_gc" placeholder="" type="number"  min="0" />
                </div>
                <div class="col-sm-4">
                    <input  value="{{ variables.wealth_ss is defined ? variables.wealth_ss }}"  class="form-control"  id="wealth_ss" name="wealth_ss" placeholder="" type="number"  min="0" />
                </div>
                <div class="col-sm-4">
                    <input  value="{{ variables.wealth_bp is defined ? variables.wealth_bp }}"  class="form-control"  id="wealth_bp" name="wealth_bp" placeholder="" type="number"  min="0" />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                {% if variables.weapon_name_1 is not empty and variables.weapon_skill_1 == "Simple Ranged" or variables.weapon_skill_1 == "Martial Ranged"  %}
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6"><h5>Weapon</h5></div>
                        <div class="col-sm-6"><h5>Ammo</h5></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">{{ variables.weapon_name_1}}</div>
                        <div class="col-sm-6">
                            <input  value="{{ variables.weapon_ammo_1 is defined ? variables.weapon_ammo_1 }}"  class="form-control"  id="weapon_ammo_1" name="weapon_ammo_1" placeholder="" type="number" min="0"  />
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if variables.weapon_name_2 is not empty and variables.weapon_skill_2 == "Simple Ranged" or variables.weapon_name_2 is not empty and variables.weapon_skill_2 == "Martial Ranged" %}
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6"><h5>Weapon</h5></div>
                        <div class="col-sm-6"><h5>Ammo</h5></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">{{ variables.weapon_name_2}}</div>
                        <div class="col-sm-6">
                            <input  value="{{ variables.weapon_ammo_2 is defined ? variables.weapon_ammo_2 }}"  class="form-control"  id="weapon_ammo_2" name="weapon_ammo_2" placeholder="" type="number" min="0"  />
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if variables.weapon_name_3 is not empty and ariables.weapon_skill_3 == "Simple Ranged" or variables.weapon_skill_3 == "Martial Ranged" %}
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6"><h5>Weapon</h5></div>
                        <div class="col-sm-6"><h5>Ammo</h5></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">{{ variables.weapon_name_3}}</div>
                        <div class="col-sm-6">
                            <input  value="{{ variables.weapon_ammo_3 is defined ? variables.weapon_ammo_3 }}"  class="form-control"  id="weapon_ammo_3" name="weapon_ammo_3" placeholder="" type="number" min="0"  />
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if variables.weapon_name_4 is not empty and ariables.weapon_skill_4 == "Simple Ranged" or variables.weapon_skill_4 == "Martial Ranged" %}
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6"><h5>Weapon</h5></div>
                        <div class="col-sm-6"><h5>Ammo</h5></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">{{ variables.weapon_name_4}}</div>
                        <div class="col-sm-6">
                            <input  value="{{ variables.weapon_ammo_4 is defined ? variables.weapon_ammo_4 }}"  class="form-control"  id="weapon_ammo_4" name="weapon_ammo_4" placeholder="" type="number" min="0"  />
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12"><h5>Fate</h5></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input  value="{{ variables.personal_fate_points is defined ? variables.personal_fate_points }}"  class="form-control"  id="personal_fate_points" name="personal_fate_points" placeholder="" type="number"  min="0" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12"><h5>Reptutation</h5></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input  value="{{ variables.personal_reputation_points is defined ? variables.personal_reputation_points }}"  class="form-control"  id="personal_reputation_points" name="personal_reputation_points" placeholder="" type="number"  min="0" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12"><h5>Reward Points</h5></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input  value="{{ variables.current_reward_points is defined ? variables.current_reward_points }}"  class="form-control"  id="current_reward_points" name="current_reward_points" placeholder="" type="number" min="0"  />
                </div>
            </div>
        </div> 
    </div>    
</div>